{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false
}
